.jumbotron{
 background-image:url("./img/me.jpg");
}
.text-center{
    color:darkmagenta;
    text-align:center;
}
h2{
    text-align: left;
}
.container{
    background-color: aliceblue;
}
th{
    text-align: center;
}
tr{
    text-align: center;
}
.revise{
    font-size: medium;
}
.homepage{
    font-size: medium;
}
